

<form method="post" action="/NotaEtiqueta/Crear">
    <h1>Agregar Etiqueta</h1>
    <input name="idEtiquetaNombre" hidden value="@ViewBag.idNota" />
    <h3>Etiqueta a agregar: </h3>
    <br />
    <select name="idEtiqueta">
        @foreach (var i in ViewBag.Etiquetas)
        {
            <option value="@i.idEtiqueta">@i.nombreetiqueta</option>
        }
    </select>

    <br />
    <br />
    <button type="submit">Crear</button>
</form>